.trade-history {
  .table-wrapper {
    td {
      height: 40px;
      color: var(--light-green);
      padding: 8px;
      box-sizing: border-box;

      .flex {
        display: flex;
        align-items: center;
        gap: 8px;

        > div {
          cursor: pointer;
          svg {
            width: 15px;
            height: 15px;

            path {
              fill: #fff;
            }
          }
        }

        img {
          width: 15px;
          height: 15px;
          object-fit: contain;
          cursor: pointer;
        }
      }

      .progress {
        width: 150px;
        height: 7px;
        border-radius: 10px;
        overflow: hidden;
        background-color: var(--search-btn-clr);

        .progress-base {
          width: 70%;
          height: 100%;
          background-color: #fff;
          border-radius: 10px;
        }
      }
    }
  }
}


/* Holders.css */
/* Holders.css */

/* Add custom styles for the progress bar */
.progress-bar-wrapper {
  margin-top: 10px;
}

/* Customize the appearance of the progress bar */
.custom-progress-bar {
  height: 20px;
  border-radius: 4px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.custom-progress-bar-fill {
  height: 100%;
  background-color: #28a745; /* Green fill color */
}
